<h3>
    <small>Reserva</small>
    <a routerLink="/agregar-reserva" class="float-right btn btn-primary btn-sm">Agregar</a>
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Opciones</th>
            <th>Cliente</th>
            <th>Habitacion</th>
            <th>F. Inicio</th>
            <th>F. Fin</th>
            <th>Comentario</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reserva of reservas">
            <td>
                <a routerLink="/editar-reserva/{{reserva.id}}" class="btn btn-sm btn-primary"><i
                        class="fa fa-edit"></i></a>
                <a class="btn btn-danger" (click)="borrarReserva(reserva.id)"><i class="fa fa-remove"></i></a>
            </td>
            <td>{{reserva.cliente.nombre}}</td>
            <td>{{reserva.habitacion.nombre}}<br><b>{{reserva.habitacion.tiposhabitacion.nombre}}</b></td>
            <td>{{reserva.finicio}}</td>
            <td>{{reserva.ffin}}</td>
            <td>{{reserva.comentario}}</td>
        </tr>
    </tbody>
</table>