<h3><small>Agregar pedido</small></h3>
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="reserva">Reserva</label>
                <select [(ngModel)]="pedido.reserva.id" class="form-control" name="reserva" id="reserva">
                    <option *ngFor="let reserva of reservas" value="{{reserva.id}}">{{reserva.id}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <select (change)="filtrarProductos()" class="form-control" name="categoria" id="categoria">
                    <option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="producto">Producto</label>
                <select [(ngModel)]="productoID" (change)="detalleAdd()" class="form-control" name="producto" id="producto">
                    <option *ngFor="let producto of productos" value="{{producto.id}}">{{producto.nombre}}</option>
                </select>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Quitar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detallepedido of detalles">
                    <td>{{detallepedido.producto.nombre}}</td>
                    <td>{{detallepedido.cantidad}}</td>
                    <td>{{detallepedido.precio}}</td>
                    <td>{{detallepedido.cantidad * detallepedido.precio}}</td>
                    <td>
                        <a class="btn btn-danger" (click)="pedidoDelete()"><i class="fa fa-close"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button (click)="pedidoAdd()" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>